@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
}

svg {
  color: lightgray;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: lightgray;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: rgb(30,28,54);
  background: linear-gradient(0deg, rgba(30,28,54,1) 0%, rgba(69,69,119,1) 100%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}